{% props variant = 'default', href = null, type = 'button', disabled = false %}
{%- set classes = ['btn'] -%}
{%- if variant != 'default' -%}{%- set classes = classes|merge(['btn--' ~ variant]) -%}{%- endif -%}
{%- apply spaceless -%}
    {%- set _label %}{% block content %}{% endblock %}{% endset -%}
{%- endapply -%}
{%- if href is not null -%}
    <a href="{{ href }}" class="{{ classes|join(' ') }}" {{ attributes.without('class') }}>{{ _label }}</a>
{%- else -%}
    <button type="{{ type }}" class="{{ classes|join(' ') }}" {% if disabled %}disabled{% endif %} {{ attributes.without('class') }}>{{ _label }}</button>
{%- endif -%}
