{% props tx, currency = null, deletable = false, ownerUserId = null, returnTo = null %}
{%- set classes = ['transaction-row'] -%}
{%- if tx.deleted %}{% set classes = classes|merge(['transaction-row--deleted']) %}{% endif -%}
<li class="{{ classes|join(' ') }}">
    <span class="transaction-row__amount">
        <twig:BalancePill amount="{{ tx.amount }}" currency="{{ currency }}" />
    </span>
    <span class="transaction-row__desc">
        {% if tx.recipientTransaction %}
            <twig:TransferAddress otherUser="{{ tx.recipientTransaction.user }}" direction="to" />
        {% elseif tx.senderTransaction %}
            <twig:TransferAddress otherUser="{{ tx.senderTransaction.user }}" direction="from" />
        {% elseif tx.article %}
            <twig:ArticleBadge article="{{ tx.article }}" />
        {% endif %}
        {% if tx.comment %}<span class="transaction-row__comment">: {{ tx.comment }}</span>{% endif %}
    </span>
    {% if deletable and ownerUserId %}
        <form method="post" action="{{ path('transactions_undo', {id: ownerUserId, txId: tx.id}) }}" class="undo-form" data-controller="disable-on-submit">
            <input type="hidden" name="_token" value="{{ csrf_token('undo' ~ ownerUserId ~ '_' ~ tx.id) }}">
            {% if returnTo %}<input type="hidden" name="return" value="{{ returnTo }}">{% endif %}
            <button type="submit" class="btn btn--cancel undo-btn" aria-label="{{ 'transactions.undo.button_aria'|trans({'%when%': tx.created|date('Y-m-d H:i:s')}) }}">↺</button>
        </form>
    {% else %}
        <time class="transaction-row__date" datetime="{{ tx.created|date('c') }}">{{ tx.created|date('Y-m-d H:i:s') }}</time>
    {% endif %}
</li>
